* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lobster';
	font-size: 20px;
	background: #bad;
}

.container {
	background: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
}

.game-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.game-info p {
	font-weight: 700;
	color: #222;
}

.game-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 600px;
	height: 450px;
}

.game-wrap .item {
	border: 1px solid rgba(0, 0, 0, .3);
	overflow: hidden;
	cursor: url(icon/hammer.png), auto;
}

.game-wrap .item img {
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: .2s ease;
}

.game-wrap .item.show img {
	transform: translateY(0);
}

.btn-wrap {
	text-align: center;
	padding-top: 20px;
}

.btn-wrap button {
	border: 0px;
	outline: none;
	padding: 7px 20px;
	font-size: 18px;
	color: #ddd;
	background: salmon;
	border-radius: 5px;
	cursor: pointer;
	display: none;
}

.btn-wrap button:active {
	transform: scale(.97);
}