* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #567;
}

.container {
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ddd;
	color: #222;
	box-shadow: 0 0 7px #333;
	border-radius: 7px;
}

.game-info {
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.game-wrap {
	display: grid;
	width: 190px;
	height: 190px;
	grid-template-columns: repeat(9, 1fr);
	padding: 5px;
	border: 2px solid #567;
}

.game-wrap .block {
	width: 20px;
	height: 20px;
}

.block.c1 {
	background: #900;
}

/*.block.c2, .block.c3 {
	background: #456;
}

.block.l1, .block.l2, .block.l3 {
	background: #334;
}*/

.block.l4, .block.l5 {
	background: #500;
}

.block.frog {
	background: url(frog.png);
	background-size: cover;
}

.block.end {
	background: #090;
}

.btn-wrap {
	padding-top: 20px;
	text-align: center;
}

.btn-wrap button {
	border: 0px;
	outline: none;
	padding: 7px 20px;
	background: #567;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	transition: .2s ease;
}

.btn-wrap button:active {
	background: transparent;
	color: #567;
}